.card {
  width: 340px;
  border: 1px solid #00B6B6;    
  border-radius: 4px;          
  overflow: hidden;             
  display: flex;                
  flex-direction: column;       
  margin: 15px 20px;
  padding: 10px;
  color: #507885;
  cursor: pointer;
}

.card-summary, .card-meta {
  padding: 7px 0;
}

.critical-temp {
  border: 1px solid #bb2031;
}